[submodule "Ghost/vendor/spdlog"]
	path = Ghost/vendor/spdlog
	url = ../../gabime/spdlog
	branch = v1.x
[submodule "Ghost/vendor/GLFW"]
	path = Ghost/vendor/GLFW
	url = ../../TheCherno/glfw
	branch = master
[submodule "Ghost/vendor/imgui"]
	path = Ghost/vendor/imgui
	url = ../../TheCherno/imgui
	branch = docking
[submodule "Ghost/vendor/glm"]
	path = Ghost/vendor/glm
	url = ../../g-truc/glm
	branch = master
[submodule "Ghost/vendor/yaml-cpp"]
	path = Ghost/vendor/yaml-cpp
	url = https://github.com/thecherno/yaml-cpp
	branch = master
[submodule "Ghost/vendor/ImGuizmo"]
	path = Ghost/vendor/ImGuizmo
	url = https://github.com/thecherno/imguizmo
