[submodule "Ghost/vendor/spdlog"]
	path = Ghost/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Ghost/vendor/GLFW"]
	path = Ghost/vendor/GLFW
	url = https://github.com/TheCherno/glfw
